<div class="container-fluid container-fluid-custom">
    <h1><%= title %></h1>
    <ul class="list-unstyled">
        <% for (let i=0; i < description.length; i++) { %>
          <li class="mb-2"><%= description[i] %></li>
        <% } %>
    </ul>
       
</div>
